@eengineer1:registry=https://registry.npmjs.org/
access=public
licence="Apache-2.0"
author="Eengineer1"
public-hoist-patterns[]=*eslint*
public-hoist-patterns[]=*prettier*
prefer-workspace-packages=true
